<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <connectionStrings>
    <add name="mycon" connectionString="Server=b92799d3-f674-4b98-a267-a43600c6f645.sqlserver.sequelizer.com;Database=dbb92799d3f6744b98a267a43600c6f645;User ID=rbpbijgljzflepzc;Password=JVKTEHHsz8fBK2PNDuvyc3uuvgAUNQDkXy5eQfRgCrKurVXBnG6XoFcPApwxhWLR;"/>
  </connectionStrings>
</configuration>